/* HEADER */
.logo {
  width: 120px;
  padding: 10px;
}

h1 {
  font-weight: bold;
  text-align: center;
  padding-top: 35px;
  font-weight: 700;
  font-size: 50px;
}
h2 {
  font-weight: bold;
  text-align: center;
  padding-top: 35px;
}

header {
  display: flex;
  background-image: url(../imagaviones/su35/1\ su35.jpg);
  justify-content: space-between;
  align-content: center;
}

/* NAV */

.escudo {
  width: 50px;
}
.btnbuscar {
  background-color: azure;
}
.btnbuscar:hover {
  background-color: rgb(88, 99, 99);
}

/* MAIN INDEX */

main {
  margin: 15px;
}

.aereo {
  height: 200px;
  margin: 50px;
}
.ae1 {
  display: flex;
  justify-content: center;
  align-content: center;
}
.ae2 {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* MAIN CARPETA HISTORIA */

.aereo1 {
  height: 250px;
  margin: 20px;
}
.ae3 {
  display: flex;
  justify-content: center;
  align-content: center;
}
.ae4 {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* MAIN CARPETA ORGANIZACION */

.orga1 {
  height: 320px;
  margin: 60px 50px;
  display: flex;
  justify-content: center;
}
/* MAIN CARPETA CONTACTO*/

.formulario {
  margin: 100px 200px;
}
.mapa {
  background-color: rgb(219, 219, 200);
  justify-content: center;
  text-align: center;
  margin: 30px;
}
/* MAIN CARPETA ARMA*/

.imgcarousel {
  width: 100%;
}
.maincarousel {
  justify-content: center;
}
